/.atom
/.CLion2019.1
/.dotnet
/.gitconfig
/.idlerc
/.ssh
/.VirtualBox
/.vscode
/3D Objects
/AppData
/BT Cloud
/CLionProjects
/Contacts
/Desktop
/Documents
/Downloads
/Favorites
/github
/IntelGraphicsProfiles
/Links
/MicrosoftEdgeBackups
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{6970bfc9-a716-11eb-a157-005056c00001}.TM.blf
/NTUSER.DAT{6970bfc9-a716-11eb-a157-005056c00001}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{6970bfc9-a716-11eb-a157-005056c00001}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/ntuser.pol
/Pictures
/README.md
/Roaming
/Saved Games
/Searches
/source
/Videos
/VirtualBox VMs
/OneDrive
/Application Data
/Cookies
/Local Settings
/My Documents
/PrintHood
/Start Menu
/Recent
/SendTo
/NetHood
/Templates